html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .survey4-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    height: 100%; /* Asegurar que ocupe toda la altura */
  }
  
  .survey4-header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
  
  .survey4-logo {
    height: 70px;
  }
  
  .survey4-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    width: 60%;
    box-sizing: border-box;
    position: relative;
    height: 100%; /* Asegurar que ocupe toda la altura */
  }
  
  .survey4-question {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 70px;
  }
  
  .survey4-question h2 {
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .survey4-question p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .form-group select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  button4 {
    background-color: #008489;
    color: white;
    padding: 12px 35px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 13px;
    font-weight: regular;
    margin-top: 20px;
  }
  
  .next-button4 {
    background-color: #008489;
  }
  
  .skip-button4 {
    background-color: transparent;
    color: #008489;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
  }
  
  .image-container {
    width: 40%;
    height: 100vh; /* Asegurar que ocupe toda la altura */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, #f0f0f0);
    overflow: hidden;
  }
  
  .survey4-image {
    width: 100%;
    height: 100%;
  }
  
  .survey4-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .progress-bar {
    position: fixed;
    bottom: 20px;
    left: 40px;
    width: 50%;
    height: 4px;
    background-color: #e0e0e0;
    z-index: 20;
  }
  
  .progress {
    height: 100%;
    background-color: #008489;
    width: 90%; /* Actualización del progreso */
    transition: width 0.3s ease;
  }
  
  button.next-button4,
  button.skip-button4 {
    position: relative;
    bottom: 20px;
    margin-top: 50px;
    left: auto;
    transform: none;
  }
